<% if @order_items.any? %>
  <% @order_items.sort.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %>
    | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
    <%= form_for item, :html => {:id => item.id } do |f| %>
      <%= f.hidden_field :product_id, value: item.id %>
      <%= f.label :quantity, class: 'control-label'  %>
      <% options = options_for_select(1..10, item.quantity) %>
      <%= select_tag :quantity, options, :class => item.id %>
      <script type="text/javascript">
        $('.<%= item.id %>').change(function(){
          $('#<%= item.id %>').submit();
          return false;
      });
      </script>
    <% end %>
    <hr>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>

  <form action="/charges" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= number_to_currency current_order.total_price %>"
    data-name="Dave and Keegsters"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-bitcoin="true"
    data-email="<%= current_user.email %>"
    data-zip-code="true"
    data-billing-address="true"
    data-shipping-address="true">
  </script>
  </form>

<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
