<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>

  <form action="/charges" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-amount="<%= number_to_currency current_order.total_price %>"
    data-name="Dave and Keegsters"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-bitcoin="true"
    data-email="<%= current_user.email %>"
    data
    data-zip-code="true"
    data-billing-address="true"
    data-shipping-address="true">
  </script>
  </form>

<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>
