<!DOCTYPE html>
<html>
  <head>
    <title>ECom</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <nav class="navbar-brand"><%= link_to 'Dave and Keegsters', root_path, class: 'nav-link' %></nav>
      <ul class="navbar-nav">
        <% if current_user %>
          <li class="nav-item"><%= link_to current_user.username, edit_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% if current_user.admin %>
            <li class="nav-item"><%= link_to 'Admin', rails_admin_path, class: 'nav-link' %></li>
          <% end %>
        <% else %>
          <li class="nav-item"><%= link_to 'Login', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class: 'nav-link'  %></li>
        <% end %>
      </ul>
      <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to 'Cart', cart_path, class: 'nav-link' %></li>
      <li id="test" class="nav-item" style="color: white;"><%= number_to_currency current_order.total_price %></li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
    </nav>

  </header><br>
  <body>
    <div class='container'>
      <% flash.each do |key, value| %>
        <div class='alert alert-info alert-dismissible fade show' role='alert'>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <li aria-hidden="true">&times;</li>
          </button>
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
